html {
  font-size:10px;
  padding: 3em 4em;
  line-height: 1.6;
  font-family: 'Roboto Mono', monospace;
  
}
body {
  max-width: 870px;
  margin: 0 auto;
  font-size: 1.2rem;
}
#name {
  font-family: 'Roboto Slab', serif;
}
.work-title{
  display: flex;
  justify-content: space-between;
}
.right {
  text-align: right;
  color: inherit;
}
#name {
  text-align: center;
}
#contact {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  display: flex;
  justify-content: center;
  
}
#contact li {
  margin-right: 1.6em;
}
#contact li a {
  text-decoration: none;
  color: black;
}
#contact li:last-child {
  margin-right: 0;
}
#contact li:first-child {
  list-style-type: none;
}

#community li{
  list-style: none;
}
.job-container {
  margin-bottom: 3em
}
.work-name, .work-location {
  font-weight: bold;
}
.job-title, .date {
  font-style: italic;
}

#info  span {
  font-weight: 400;
}