/*
===============
Fonts
===============
*/

/*
===============
Variables
===============
*/

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: "Roboto Slab", serif;
  --ff-secondary: "Roboto Mono", monospace;
  --transition: all 0.3s linear;
  --max-width: 980px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #487eb0;
  font-weight: 600;
}
/*  global classes */

/* section */
.section {
  padding: 1rem 0;
}
.asterisk {
  width: 10px;
  height: 15px;
  display: inline-block;
  object-fit: contain;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.section-title {
  color: var(--clr-black);
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main {
  max-width: var(--max-width);
  margin: 0 auto;
}

/*
=================
Header
=================
*/
.header {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 1px solid #888;
}
.header .title {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 1rem;
  font-variant: small-caps;
  font-size: 1.85rem;
}
.contact {
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: start;
  gap: 1rem;
}
.contact li {
  white-space: nowrap;
  flex: 0 2 auto;
}

/*
=================
Projects
=================
*/
.projects {
  display: none;
}
.projects-center {
  border-bottom: 1px solid #888;
}
.projects-title {
  color: var(--clr-black);
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.projects-wrapper {
  padding-left: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

/* card */
.project {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: auto minmax(50px, 1fr);
  align-items: center;
  gap: 0.25rem;
  border-radius: 3px;
}

.project-header span {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--clr-black);
}
.project-title {
  text-transform: capitalize;
}
.project ul {
  padding-left: 1.1rem;
}
.project-tools {
  list-style-type: square;
  width: 80%;
  font-size: 0.9rem;
}

/*
=================
Work Experience
=================
*/
.experience-section {
  display: none;
}
.experience-center {
  border-bottom: 1px solid #888;
}
.experience-wrapper {
  padding: 0 2rem;
}
.work {
  margin-bottom: 3rem;
}
.work-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.job-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: var(--ff-secondary);
  color: #3e3e3e;
}
.experience-subtitle {
  font-style: italic;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.job-description {
  list-style-type: square;
  list-style-position: outside;
  padding-left: 20px;
  font-size: 16px;
}

/*
=================
Education
=================
*/
.education-section {
  display: none;
}
.education-wrapper {
  padding: 0 2rem;
}
.edu {
  margin-bottom: 3rem;
}
.edu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.edu-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: var(--ff-secondary);
  color: #3e3e3e;
}
.edu-subtitle {
  font-style: italic;
  text-transform: capitalize;
  font-size: 0.8rem;
}
